//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Swiper>=================================
// @import "swiper-bundle";
//</Swiper>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "Rubik";
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1092;
// $md1: $maxWidthContainer + 12; //1192px
$md1: $maxWidthContainer; //1092px
$md2: 991.98;
$md3: 767.98;
$md4: 639.98;
$md5: 479.98;

//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: #616161;
	font-size: 12px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОСНОВНАЯ СЕТКА>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
	// position: relative;

	// min-width: 0;
	@media (max-width: ($md3+px)) {
		padding: 0 10px;
	}
	@media (max-width: ($md4+px)) {
		padding: 0px 5px;
	}
}
//</ОСНОВНАЯ СЕТКА>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
//@import "lightgallary";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
.page {
	flex: 1 1 auto;
	// .page__container
	&__container {
		// padding: 0px 0px 20px 0px;
		@media (min-width: ($md2+px)) {
			// display: flex;
		}
	}
	// .page__content
	&__content {
	}
}
//======================================================================
.breadcrumbs {
	overflow: auto;
	margin: 0px 0px 20px 0px;
	height: 20px;
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;
		li {
			margin: 0px 10px 0px 0px;
			padding: 0px 20px 0px 0px;
			background: url("../img/icons/arrow_text.png") right / 10px no-repeat;
			&:last-child {
				margin: 0px 0px 0px 0px;
				background: none;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		color: #1ab9ce;
		text-decoration: underline;
	}
	// .breadcrumbs__item
	&__item {
		color: 999px;
		font-weight: 300;
	}
}
//======================================================================
.get-started {
	// margin: 114px 0px 0px 0px;
	background-color: #fafbfd;
	@media (max-width: ($md2+px)) {
		// margin: 80px 0px 0px 0px;
	}
	@media (max-width: ($md3+px)) {
		// margin: 60px 0px 0px 0px;
	}
	// .get-started__container
	&__container {
		padding-top: 150px;
		position: relative;
		&::before {
			position: absolute;
			width: 100vw;
			height: 100%;
			background-color: #ec5863;
			border-radius: 30px 0px 0px 30px;
			content: "";
			top: 0;
			right: 24%;
			transform: translate(100%, 0px);
		}
		@media (max-width: ($md3+px)) {
			padding-top: 70px;
			&::before {
				display: none;
			}
		}
	}
	// .get-started__top
	&__top {
		@media (min-width: ($md3+px)) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .get-started__text-block
	&__text-block {
		flex: 0 1 47.4%;
		padding: 0px 20px 20px 0px;
	}
	// .get-started__box
	&__box {
		max-width: 410px;
	}
	// .get-started__image
	&__image {
		position: relative;
		z-index: 2;
		flex: 0 1 52.6%;
		text-align: center;

		img {
			max-width: 100%;
		}
		@media (min-width: ($md3+px)) {
			padding: 0px 10px 0px 0px;
		}
	}
	// .get-started__bottom
	&__bottom {
	}
	// .get-started__watch-vidio
	&__watch-vidio {
		padding: 60px 0px 50px 0px;
		@media (max-width: ($md3+px)) {
			padding: 30px 0px 30px 0px;
		}
	}
}
.text-block {
	// .started-box__title
	&__title {
		color: #000;
		font-size: 44px;
		font-weight: 700;
		line-height: 126%; /* 55.44px */
		margin: 0px 0px 12px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		span {
			color: #ec5863;
		}
		// .started-box__title_blue
		&_blue {
			span {
				color: #4285f4;
			}
		}
	}
	// .started-box__text
	&__text {
		color: #616161;
		font-size: 12px;
		font-weight: 400;
		line-height: 138.5%; /* 16.62px */
		letter-spacing: 0.96px;
		margin: 0px 0px 24px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .started-box__button
	&__button {
	}
}
.watch-vidio {
	display: inline-flex;
	align-items: center;
	// .watch-vidio__icon
	&__icon {
		flex: 0 0 44px;
		transition: all 0.3s ease 0s;
		@media (min-width: ($md2+px)) {
			&:hover {
				box-shadow: 0 0 10px rgba(66, 133, 244, 1);
				border-radius: 50%;
			}
		}
	}
	// .watch-vidio__body
	&__body {
		margin: 0px 0px 0px 12px;
	}
	// .watch-vidio__title
	&__title {
		color: #b0b0b0;
		font-size: 13px;
		font-weight: 400;
		line-height: 126%; /* 16.38px */
		letter-spacing: 0.074rem;
		margin: 0px 0px 5px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .watch-vidio__subtitle
	&__subtitle {
		text-transform: uppercase;
		color: #000;
		font-size: 9px;
		font-weight: 400;
		line-height: 126%; /* 11.34px */
		letter-spacing: 0.2rem;
	}
}

//======================================================================
//</ОСНОВНОЙ БЛОК>======================================================================
